<h1>New Comment</h1>

<%= form_with(model: @comment, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%# <%= f.label :title, class: 'mb-3' %> 
  <%= f.text_field :comment, class: 'form-control form-control-lg mt-4', placeholder: "コメントを書く。" %>

  <%= f.hidden_field :post_id %>

  <%= f.submit "コメント送信", class: "btn btn-primary mt-4" %>

<% end %>