<div id="post" class="tab-pane active">　　
  <% if @newer_posts.exists? %>　
　    <% @newer_posts.each do |post| %>
      <%# <div class="card" style="width: 50rem;"> %>
     <%= link_to post_path(post), class: 'text-body under' do %> 
    <div class="card mt-4">
    <%= image_tag post.image.url, class: "img-fluid" %>
     <% end %><%# posts#show %>
     <div class="card-body">
     <h5 class="card-title">
     <%# avatar  %>
     <span class="small">
     <%= link_to user_path(post.user), class: 'under' do %>
     <% if post.user.avatar? %>
     <%= image_tag post.user.avatar.url, class: "rounded-circle mb-3", width: "40px", height: "40px" %>
     <% else %>
     <%= image_tag "the-main.jpg", class: "rounded-circle", width: "40px", height: "40px" %>
     <% end %>
    <% end %>
    <%# name %>
    <%= post.user.name %></span><br>
    <%# covid  %>
     記事内容: <span class="small bg-warning">
    <%= post.covid %>
    </span>
    <%# title  %>
    <h3><%= post.title %></h3> 
    <%# tag, description  %>
    <span><%= render_with_hashtags(post.content.truncate(85)) %><%= link_to '続きを読む', post_path(post) %></span> 
   </h5>   
    <p class="card-text">
        <%# likes %>
        <span>
         <div class="post-like">
        <%= render 'shared/likes', post: post %> 
        </div>
        </span>
    <%# impression %>
       <span>
       <i class="fas fa-eye"><%= post.impressions_count %></i>
      </span>
     <p>
      <%= time_ago_in_words(post.created_at) %> 前
      </p>

    <h5 class="card-title">
    <%#編集, 削除 %>
    <span>
    <% if current_user?(@user) %>
    <%= link_to edit_post_path(post) do %>
    <i class="fas fa-edit"></i>
    <% end %>
    <%= link_to post, method: :delete, data: { confirm: "削除してよろしいですか?" } do %>
    <i class="fas fa-trash"></i>
    <% end %>
    <% end %><%# current_user %>
    <span>
    </h5>

        </p><%# card-text %>
      </div><%# card-body %>
    </div><%# card %>

  

　　 </div><%# card-text %>
      </div><%# card-body %>
     </div><%# card %>
     <% end %><%# each %>
     <% else %>
     <div class="text-canter">
     <p>まだ投稿がありません。<p>
     <%= link_to '投稿する', new_post_path %>
     </div>
     <% end %>
   </div>
   <%# paginate @user.posts %>
<%# <%= paginate @posts %> 



  