<% if @user.email == "smooth_login@example.com" %>
<p>ゲストユーザーは編集できません</p>
<%= link_to :back do %>
  <button>戻る</button>
<% end %>
<% else %>
<h1>プロフィールの更新</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

     <%= f.label :avatar, class: "mt-4" %>
  　　<%= f.file_field :avatar, class: "form-control" %>

      <%# @userで自動的にnameが入ってる。 %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
　　　　　
　　　　<%# @userで自動的にemailが入ってる。 %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :year, "ベルリン滞在、渡航歴", class: 'mt-4' %>
　　 　<%= f.select :year, ["1年", "2年", "3年", "4年", "5年以上"], class: 'form-control' %>

      <%= f.label :bio, "あなたについて何か書こう", class: 'mt-4' %> 
  　　 <%= f.text_field :bio, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "更新する", class: "btn btn-primary save-changes-btn" %>
    <% end %>

  </div>
</div>

 <% end %>
