<%# ここは、users#show定義されているのは、
@user=User.find(params[:id])と
@posts = @user.posts.paginate(page: params[:page])。 %>

<div class="container">
<div class="row">
<%# 中央寄せ %>
<div class="mx-auto" style="width: 900px;">


<div class="profile-wrapper">

<section class="user_info">
　　　
     <%#user-name %> <%#プロフィール編集 %>
      <div class="text-center">
      <%###################アバター########################### %>
     <% if @user.avatar? %>
     <%= image_tag @user.avatar.url, class: "rounded-circle ", width: "80px", height: "80px" %>
     <% else %>
     <%= image_tag "the-main.jpg", class: "rounded-circle", width: "80px", height: "80px" %>
     <% end %>
     <%# フォローボタン %>
     <%= render 'follow_form' if logged_in? %>
     <%# <% end %> <%#もう一個これ必要じゃ無い？？ %>
      </div>
    
        <%#image_tag 'a.jpg', class: "rounded-circle", width: "80px", height: "80px" %>
      <%###################名前########################### %>
        <h1 class="text-center"> <%= @user.name %> </h1>
      <%###################プロフィール編集########################### %>
     <% if current_user?(@user) %>
      <div class="text-center">
        <button type="button" class="btn btn-warning">
        <%= link_to 'プロフィール編集' ,edit_user_path(@user), class: 'text-light edit-btn' %>
        </button>
        </div>
      <% end %>
      <%###################投稿ページへ########################### %>
        <div class="text-center">
         <%= render 'shared/stats' %>
        </div>
     
     <div class="card bg-white mb-10">
  <div class="card-body">
    <h5 class="card-title">ベルリン歴<%= @user.year %></h5>
    <p class="card-text"><%= @user.bio %></p>
    <p class="card-text">contribute: </p>
    <p class="card-text">投稿すう </p>
  </div>
</div>

    </section><%#user_info %>
 </div><%#profile-wrapper %>



<%# ここから下tab %>
<main class="p-3">
  <!-- 3個分のタブ -->
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a href="#post" class="nav-link active" data-toggle="tab">投稿</a>
    </li>
    <li class="nav-item">
      <a href="#helped" class="nav-link" data-toggle="tab">いいねした投稿</a>
    </li>
  </ul>
<!-- 投稿部分 -->
  <div class="tab-content">

    <div id="post" class="tab-pane active">
         <% if @user.posts.any? %>
    　  <ol class="posts">
         <%= render @posts %><%# app/view/posts/_post.html.erbに投稿のoutputがある。cardとかは全部そこに行って。 %>
       </ol> 
   　 <%# will_paginate @posts %>
   　　 <% end %>
    <div class="mt-4">
     



    <div id="helped" class="tab-pane">
    
    </div> <%# id=helped %>
    
  </div><%# tab-content %>

</main>


</div><%#row %>
</div><%#container %>









































