<%# ここは、users#show定義されているのは、
@user=User.find(params[:id])と
@posts = @user.posts.paginate(page: params[:page])。 %>

<div class="container">
<div class="row">
<%# 中央寄せ %>
<div class="mx-auto" style="width: 900px;">

<%# ここから下プロフィール %>
<div class="profile-wrapper">

<section class="user_info">
　　　
     <%#user-name %> <%#プロフィール編集 %>
      <h1>
      <%###################アバター########################### %>
     <% if @user.avatar? %>
     <%= image_tag @user.avatar.url, class: "rounded-circle", width: "80px", height: "80px" %>
     <% else %>
     <%= image_tag "the-main.jpg", class: "rounded-circle", width: "80px", height: "80px" %>
     <% end %>
     <%# <% end %> <%#もう一個これ必要じゃ無い？？ %>
    
        <%#image_tag 'a.jpg', class: "rounded-circle", width: "80px", height: "80px" %>
      <%###################名前########################### %>
        <%= @user.name %>
      <%###################プロフィール編集########################### %>
        <button type="button" class="btn btn-warning">
        <%= link_to 'プロフィール編集' ,edit_user_path(@user), class: 'text-light edit-btn' %>
        </button>
      <%###################投稿ページへ########################### %>

      </h1>

      <%###################在住歴########################### %><%# %>
       <h5 class="mt-4">
        ベルリン歴<%= @user.year %>
      </h5>
      <%###################ひとこと########################### %> 
       <p class="mt-4">
        <%= @user.bio %>
      </p>

      

  <%###################フォローフォロワー########################### %>
   <section class="stats">
    <%= render 'shared/stats' %>
   </section><%#stats %>

    </section><%#user_info %>
    <%# もちろん管理ユーザーuser/1は自分だから表示されない。 %>
    <%= render 'follow_form' if logged_in? %>

 </div><%#profile-wrapper %>



<%# ここから下tab %>
<main class="p-3">
  <!-- 3個分のタブ -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#post" class="nav-link active" data-toggle="tab">投稿</a>
    </li>
    <li class="nav-item">
      <a href="#helped" class="nav-link" data-toggle="tab">役に立った記事</a>
    </li>
  </ul>
<!-- 投稿部分 -->
  <div class="tab-content">

    <div id="post" class="tab-pane active">
   <%# ここから投稿 %>

        <%# ↓　投稿内容リファクタリングここをコメントアウトすれば、元に戻る %>


         <% if @user.posts.any? %>
    　  <ol class="posts">
         <%= render @posts %><%# app/view/posts/_post.html.erbに投稿のoutputがある。cardとかは全部そこに行って。 %>
       </ol> 
   　 <%= will_paginate @posts %>
   　　 <% end %>



      <%# ↑　投稿内容リファクタリングここをコメントアウトすれば、元に戻る %>

   <%# ここまで投稿 %>
     </div><%##post %>

    <div id="helped" class="tab-pane">
    <%# ここから役に立った %>
<div class="card mt-4">
      <%= image_tag 'the-main.jpg', class: "img-fluid" %>
      <div class="card-body">
        <h5 class="card-title">この人が役に立った記事</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <%# ここまで役に立った %>
    </div> <%# id=helped %>
    
  </div><%# tab-content %>

</main>




</div><%#中央寄せ %>
</div><%#row %>
</div><%#container %>









































