<div class="mx-auto" style="width: 900px;">
    <div class="text-center">
     <%# avatar %>
     <% if @user.avatar? %>
     <%= image_tag @user.avatar.url, class: "rounded-circle ", width: "100px", height: "100px" %>
     <% else %>
     <%= image_tag "the-main.jpg", class: "rounded-circle", width: "100px", height: "100px" %>
     <% end %>
     <%# following/followed %>
     <%= render 'follow_form' if logged_in? %>
    <%# name %>
    <h1><%= @user.name %></h1>
    <%# プロフィール編集 %>
    <%= render 'users/edit_profile' %>
    <%# follow数, followed数 %>
    <%= render 'shared/stats' %>
    <%# ベルリン歴、bio,いいねもらった数、投稿数 %>
    <div class="text-left">
    <%= render 'users/bio' %>
    </div>
    </div><%#text-center %>
<%# 各ユーザーの投稿 %>
<main class="p-3">
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a href="#post" class="nav-link active" data-toggle="tab">投稿</a>
    </li>
    <%# <li class="nav-item">
      <a href="#post-i-liked" class="nav-link" data-toggle="tab">いいねした投稿</a>
    </li> %>
  </ul>
<div class="tab-content">
<%= render 'users_posts' %>
<%# いいねした投稿がまだない %>
<%# render 'users_likes' %>
</div><%# tab-content %>
</main>