<%# _users_postsに、いいねした投稿がまだない %>
<div class="mx-auto" style="width: 900px;">
    <div class="text-center">
     <%# avatar %>
     <% if @user.avatar? %>
     <%= image_tag @user.avatar.url, class: "rounded-circle ", width: "80px", height: "80px" %>
     <% else %>
     <%= image_tag "the-main.jpg", class: "rounded-circle", width: "80px", height: "80px" %>
     <% end %>
     <%# following/followed %>
     <%= render 'follow_form' if logged_in? %>
    <%# name %>
    <h1><%= @user.name %></h1>
    <%# プロフィール編集 %>
    <%= render 'users/edit_profile' %>
    <%# follow数, followed数 %>
    <%= render 'shared/stats' %>
    <%# ベルリン歴、bio,いいねもらった数、投稿数 %>
    <div class="text-left">
    <%= render 'users/bio' %>
    </div>
    </div><%#text-center %>
<%# 投稿、いいねした投稿 %>
<%= render 'users/users_posts' %>