<%# readmeにいったん移動 %>

<%# #####################↓renderされてるから、classが効かないのかも。cssは親ページに行こう############################################### %>
<%# <div class="container">
<div class="row">
<aside class="col-md-8"> %>

<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

   <%= f.select :covid, ["コロナ前", "コロナ後"], class: "form-control mt-4" %>

  <%# <%= f.label :title, class: 'mb-3' %> 
  <%= f.text_field :title, class: 'form-control form-control-lg mt-4', placeholder: "title" %>

  <%# <%= f.label :tag, class: 'mb-3  form-label' %> 
  <%# f.select :tag, ["移住", "ドイツ語", "生活", "食べ物", "街並み"], class: "form-control mt-4" %>
  <div class="check_box">
    <span>関連するキーワード</span>
    <%# tag_idにsがつく。 %>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
     <div>
       <%= tag.label do %>
         <%= tag.check_box %>
         <%= tag.text %>
       <% end %>
     </div>
   <% end %>
 </div>

  <div class="field">
    <%= f.text_area :content, placeholder: "あなたのベルリンでの経験をシェアしよう。", class: "form-control mt-4", id: "exampleFormControlTextarea1" %>
  </div>

 <%# サムネイル %>
   <%= f.label :image, class: "mt-4" %> 
  <%= f.file_field :image, class: "form-control" %> 

  <%= f.submit "投稿する", class: "btn btn-primary mt-4" %>

<% end %>


<%###################outputはapp/view/posts/_post.html.erb ############################%>



<%# <script type="text/javascript">
  $("#mpost_image").bind("change", function() {
    const size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      $("#post_image").val("");
    }
  });
</script> %>

<%# </aside>
</div>
</div>  %>