<h1 class="text-center mt-4">新規投稿</h1>

<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

   <%= f.label :投稿内容の時期, class: "mt-4" %>
   <%= f.select :covid, ["コロナ前", "コロナ後"], class: "form-control mt-4" %>

  <%# <%= f.label :title, class: 'mb-3' %> 
  <%= f.text_field :title, class: 'form-control form-control-lg mt-4', placeholder: "title" %>

  <div class="field">
    <%= f.text_area :content, placeholder: "あなたのベルリンでの経験をシェアしよう。タグ(#)は、前後にスペースを空けてください", class: "form-control mt-4", id: "exampleFormControlTextarea1" %>
  </div>

 <%# サムネイル %>
   <%= f.label :サムネイル, class: "mt-4" %> 
  <%= f.file_field :image, class: "form-control" %> 

<div class="text-center">
  <%= f.submit "投稿する", class: "btn btn-warning mt-4 text-white" %>
</div>
<% end %>
