<% provide(:title, "About") %>

<div class="d-flex align-items-center justify-content-center p-4 m-4">
<h1>このサイトを作った経緯</h1><br>

 <%# image_tag @news_output['articles']['urlToImage'], class: "img-fluid" %>
</div>
<p>timezoneとtempが欲しい。https://www.google.com/search?rlz=1C5CHFA_enJP847JP848&sxsrf=ALeKk02JNhX07EeeTTVj1BlhqRgeQNT-hQ%3A1611318744542&ei=2MUKYJPPIOeLr7wPl8ucyAs&q=site%3A+stackoverflow.com++openweathermap+temp+&oq=site%3A+stackoverflow.com++openweathermap+temp+&gs_lcp=CgZwc3ktYWIQAzIFCCEQoAEyBQghEKABOgcIABBHELADUL-xAViN1gFg8tgBaAFwAngAgAG9AogBlhWSAQgwLjExLjMuMZgBAKABAqABAaoBB2d3cy13aXrIAQjAAQE&sclient=psy-ab&ved=0ahUKEwiTm42Lxq_uAhXnxYsBHZclB7kQ4dUDCA0&uact=5</p>

<div class="col-md-4">
 

   <li class="list-group-item">location:<%= @output['sys']['country'] %>, <%= @output['name'] %></li>








   <%#天気アイコンここから %>
  <li class="list-group-item">
  天気アイコン 
  <% if @output['weather'][0]['icon'] == "01d" %>
  <%= image_tag '01d.png' %>
  <% elsif @output['weather'][0]['icon'] == "01n" %>
  <%= image_tag '01n.png' %>
  <% elsif @output['weather'][0]['icon'] == "02d" %>
  <%= image_tag '02d.png' %>
  <% elsif @output['weather'][0]['icon'] == "02n" %>
  <%= image_tag '02n.png' %>
  <% elsif @output['weather'][0]['icon'] == "03d" %>
  <%= image_tag '03d.png' %>
  <% elsif @output['weather'][0]['icon'] == "03n" %>
  <%= image_tag '03n.png' %>
  <% elsif @output['weather'][0]['icon'] == "04d" %>
  <%= image_tag '04d.png' %>
  <% elsif @output['weather'][0]['icon'] == "04n" %>
  <%= image_tag '04n.png' %>
  <% elsif @output['weather'][0]['icon'] == "09d" %>
  <%= image_tag '09d.png' %>
  <% elsif @output['weather'][0]['icon'] == "09n" %>
  <%= image_tag '09n.png' %>
  <% elsif @output['weather'][0]['icon'] == "10d" %>
  <%= image_tag '10d.png' %>
  <% elsif @output['weather'][0]['icon'] == "10n" %>
  <%= image_tag '10n.png' %>
  <% elsif @output['weather'][0]['icon'] == "11d" %>
  <%= image_tag '11d.png' %>
  <% elsif @output['weather'][0]['icon'] == "11n" %>
  <%= image_tag '11n.png' %>
  <% elsif @output['weather'][0]['icon'] == "13d" %>
  <%= image_tag '13d.png' %>
  <% elsif @output['weather'][0]['icon'] == "13n" %>
  <%= image_tag '13n.png' %>
  <% elsif @output['weather'][0]['icon'] == "50d" %>
  <%= image_tag '50d.png' %>
  <% elsif @output['weather'][0]['icon'] == "50n" %>
  <%= image_tag '50n.png' %>
  <% end %>
  </li>
   <%#天気アイコンここまで %>




これニュースに使える。財布どバーに。
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small>Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
</div>


























  <li class="list-group-item"><%= @output['weather'][0]['main'] %> 
                             |<%= @output['weather'][0]['description'] %>
  </li>
</div> 

<%# if @output['weather'][0]['icon'] ==  %>




<h1>Ajax#index</h1>
<p id="hoge">赤色になるよ</p><li class="list-group-item"><%= @output['name'] %></li>

<script>
  $("#hoge").css("color","red")
</script>



