<% provide(:title, "Home") %>
<div class="card bg-dark text-white header-wrapper bg-transparent">
    <%= image_tag 'the-main.jpg', class: "img-fluid" %>
  <div class="card-img-overlay">
    <%# <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p> %>
    <div class="nav-wrapper">

<%# #######################logo###################### %>
    <nav class="navbar navbar-light bg-transparent">
  <div class="container-fluid bg-transparent panel-transparent transparent">
    <a class="navbar-brand" href="/">
      <%# <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-top"> %>
      boot
    </a>
<%# #######################logo###################### %>
<%# #######################nav-right###################### %>
 <ul class="nav justify-content-end">
  <li class="nav-item">
    <a href="http://localhost:3000/posts/new" class="nav-link active text-dark" aria-current="page" href="#">投稿する</a>
  </li>
  <li class="nav-item">
    <a href="http://localhost:3000/login" class="nav-link text-danger" href="#">ログイン</a>
  </li>
  <li class="nav-item">
    <a href="http://localhost:3000/signup" class="nav-link text-warning" href="#">ユーザー登録</a>
  </li>
  <li class="nav-item">
  <%= link_to "プロフィール", current_user, class: "nav-link text-warning" %>
  </li>
  <%# <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li> %>
</ul>
<%# #######################nav-right###################### %>
  </div>
</nav>
</div><%# nav-wrapper %>


<%# ###################### title&description######################  %>
<div class="d-flex align-items-center justify-content-center p-4 m-4">
<h1>ベルリンなうへようこそ！</h1><br>
</div>
<div class="d-flex align-items-center justify-content-center p-4 m-4">
<h3>ここは、ベルリン特化型の情報共有サービス。<br>あなたの経験をこれから行く人に共有しよう!</h3>
</div>
<%# ###################### title&description######################  %>
<div class="d-flex align-items-center justify-content-center p-4">
<div class="btn-group" role="group" aria-label="Basic outlined example">


<%= link_to 'かんたんログイン', testsessions_path, method: :post, class:"btn btn-lg btn-primary center-block m-2" %>
  <%# <button type="button" class="btn btn-outline-primary">簡単ログイン</button> %>
<%# 　 <button type="button" class="btn btn-outline-primary"><%= link_to 'このサイトを作った経緯', about_path, class: "text-light" %>

<%= link_to 'このサイトを作った経緯', about_path, class: "btn btn-lg btn-primary center-block m-2" %>
   <%# <button type="button" class="btn btn-outline-primary">Right</button>  %>
</div>
</div>
<%# <h2 >
    タイトル
    <div>
        description
    </div>
</h2> %>
<%# ###################### title&description######################  %>

  </div>
</div>
</div>
<%# 33333333333333333333333333333333333header3333333333333333333333333333333333333333 %>



<%# 33333333333333333333333333333333333投稿カード&サイドバー3333333333333333333333333333333333333333 %>
<div class="container mt-4">
 <div class="row">

<%############################左############################# %>
  <div class="col-md-8">
 
  <%############################tab############################# %>
  <%# クリックするたびにtop(上)に戻るから、idで#するなり、bootstrapでspaするなり。 %>
  <%# ↓
  https://getbootstrap.com/docs/5.0/components/navs-tabs/#javascript-behavior %>

 <main class="p-3">
  <!-- 3個分のタブ -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#new" class="nav-link active" data-toggle="tab">新着</a>
    </li>
    <li class="nav-item">
      <a href="#popular" class="nav-link" data-toggle="tab">人気</a>
    </li>
    <li class="nav-item">
      <a href="#news" class="nav-link" data-toggle="tab">News</a>
    </li>
  </ul>


  <%############################tab############################# %>
  <%######################投稿カード#################### %>
   
 <%# <div class="col mt-4"> %>

<!-- 投稿部分 -->
  <div class="tab-content">
    <div id="new" class="tab-pane active">
   <%# ここから1 %>
   <div class="card mt-4">
      <%= image_tag 'the-main.jpg', class: "img-fluid" %>
      <div class="card-body">
        <h5 class="card-title">新着投稿</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>

    <div class="card mt-4">
      <%= image_tag 'the-main.jpg', class: "img-fluid" %>
      <div class="card-body">
        <h5 class="card-title">新着投稿2</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
   <%# ここまで1 %>
    </div>
    <div id="popular" class="tab-pane">
    <%# ここから2 %>
    <div class="card mt-4">
      <%= image_tag 'the-main.jpg', class: "img-fluid" %>
      <div class="card-body">
        <h5 class="card-title">人気投稿</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>

    <div class="card mt-4">
      <%= image_tag 'the-main.jpg', class: "img-fluid" %>
      <div class="card-body">
        <h5 class="card-title">人気投稿2</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <%# ここまで2 %>
    </div>
    <div id="news" class="tab-pane">
    <%# ここから3 %>
    <div class="card mt-4">
      <%= image_tag 'the-main.jpg', class: "img-fluid" %>
      <div class="card-body">
        <h5 class="card-title">ニュース</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>

    <div class="card mt-4">
      <%= image_tag 'the-main.jpg', class: "img-fluid" %>
      <div class="card-body">
        <h5 class="card-title">ニュース2</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <%# ここまで3 %>
    </div>
  </div>
</main>



 
   

  <%# </div>col mt-4 %>

<%######################投稿カード#################### %>
  </div><%# col-md-8 %>
    <%############################右############################# %>
     <%######################サイドバー#################### %>
  <div class="col-md-4">
 
  <ul class="list-group">
  <li class="list-group-item text-center"> <%= @post %><%= @contents_feed %>hahaha</li>
  <li class="list-group-item">タグ一覧</li>
  <li class="list-group-item">よく読まれている記事</li>
  <li class="list-group-item">アーカイブ</li>
  </ul>
  </div><%# col-md-4 %>
  <%######################サイドバー#################### %>

 </div><%# row %>
</div><%# container %>

<%# 33333333333333333333333333333333333投稿カード&サイドバー3333333333333333333333333333333333333333 %>


<%# 33333333333333333333333333333333333footerr3333333333333333333333333333333333333333 %>
<%# これはずっと下画面に存在する。stickしてる。<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark"> %>
<nav class="navbar navbar-expand-sm navbar-dark bg-transparent">
  <div class="container-fluid">
    <p class="text-right">2021 ベルリンなう　all right reserved</p>
  </div>
</nav>

<%# 33333333333333333333333333333333333footerr3333333333333333333333333333333333333333 %>
































   





