<div class="card bg-dark text-white header-wrapper bg-transparent">
　<%# もっと色を濃く編集できる？ %>
  <%= image_tag 'the-main.jpg', class: "img-fluid" %>
  <div class="card-img-overlay">
 
<%# ここにheaderを入れたい。 %>
<%= render 'layouts/header' %>
<section id="main-title">
<div class="d-flex align-items-center justify-content-center p-4 m-4">
<h1 class="font-weight-bold">ベルリンなうへようこそ！</h1><br>
</div>
<div class="d-flex align-items-center justify-content-center p-4 m-4">
<h3>あなたの経験をこれから行く人に共有しよう!</h3>
</div>
</section><%# main-title %>

<section id="sub-title">

<div class="d-flex align-items-center justify-content-center p-4">
<div class="btn-group" role="group" aria-label="Basic outlined example">
<%= link_to 'このサイトを作った経緯', about_path, class: "btn btn-lg btn-primary center-block m-2" %>
</div>
</div>

<%# <div class="d-flex align-items-center justify-content-center p-4">
<div class="btn-group" role="group" aria-label="Basic outlined example"> %>
<div class="text-center">
 <%#天気ここから %>
 <h4>現在の<%= @output['name'] %>天気</h4>
 <h3>
  <% if @output['weather'][0]['icon'] == "01d" %>
  <%= image_tag '01d.png' %>
  <% elsif @output['weather'][0]['icon'] == "01n" %>
  <%= image_tag '01n.png' %>
  <% elsif @output['weather'][0]['icon'] == "02d" %>
  <%= image_tag '02d.png' %>
  <% elsif @output['weather'][0]['icon'] == "02n" %>
  <%= image_tag '02n.png' %>
  <% elsif @output['weather'][0]['icon'] == "03d" %>
  <%= image_tag '03d.png' %>
  <% elsif @output['weather'][0]['icon'] == "03n" %>
  <%= image_tag '03n.png' %>
  <% elsif @output['weather'][0]['icon'] == "04d" %>
  <%= image_tag '04d.png' %>
  <% elsif @output['weather'][0]['icon'] == "04n" %>
  <%= image_tag '04n.png' %>
  <% elsif @output['weather'][0]['icon'] == "09d" %>
  <%= image_tag '09d.png' %>
  <% elsif @output['weather'][0]['icon'] == "09n" %>
  <%= image_tag '09n.png' %>
  <% elsif @output['weather'][0]['icon'] == "10d" %>
  <%= image_tag '10d.png' %>
  <% elsif @output['weather'][0]['icon'] == "10n" %>
  <%= image_tag '10n.png' %>
  <% elsif @output['weather'][0]['icon'] == "11d" %>
  <%= image_tag '11d.png' %>
  <% elsif @output['weather'][0]['icon'] == "11n" %>
  <%= image_tag '11n.png' %>
  <% elsif @output['weather'][0]['icon'] == "13d" %>
  <%= image_tag '13d.png' %>
  <% elsif @output['weather'][0]['icon'] == "13n" %>
  <%= image_tag '13n.png' %>
  <% elsif @output['weather'][0]['icon'] == "50d" %>
  <%= image_tag '50d.png' %>
  <% elsif @output['weather'][0]['icon'] == "50n" %>
  <%= image_tag '50n.png' %>
  <% end %>
  </h3>
  <%# shift option 8 %>
  <h3><%= @output['main']['temp'] %>°C</h3>
  
  <br>
  <%# @output['timezone'] %> 
  <%= @output['weather'][0]['main'] %> |<%= @output['weather'][0]['description'] %>
   <%#天気ここまで %>

</div><%# text-center %>

<%# </div>
</div> %>

</section><%# sub-title %>


  </div>
</div><div class="card bg-dark text-white header-wrapper bg-transparent">
</div>
<%# 33333333333333333333333333333333333header3333333333333333333333333333333333333333 %>



<%# 33333333333333333333333333333333333投稿カード&サイドバー3333333333333333333333333333333333333333 %>
<div class="container mt-4">
 <div class="row">

<%############################左############################# %>
  <div class="col-md-10">
 

 <main class="p-3">
  <!-- 3個分のタブ -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#new" class="nav-link active" data-toggle="tab">新着</a>
    </li>
    <li class="nav-item">
      <a href="#popular" class="nav-link" data-toggle="tab">人気</a>
    </li>
    <li class="nav-item">
      <a href="#news" class="nav-link" data-toggle="tab">News</a>
    </li>
  </ul>



  <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>




<%= form_tag posts_path, method: :get, class: 'nav justify-content-cente' do %>
      <%= select_tag :tag_id,
                     options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                     {
                       prompt: 'カテゴリー',
                       onchange: 'submit(this.form);',
                       class: 'form-control'
                     }
      %>
    <% end %>




<!-- 投稿部分 -->
  <div class="tab-content">
    <div id="new" class="tab-pane active">
   <%# ここから1 %>
 <%= render partial: 'posts/index', locals: { posts: @posts } %>

    <%# <div class="card mt-4">
      <%= image_tag 'the-main.jpg', class: "img-fluid" %>
      <%# <div class="card-body">
        <h5 class="card-title">新着投稿2</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div> %> 
   <%# ここまで1 %>
    </div>
    <div id="popular" class="tab-pane">
    <%# ここから2 %>
    <div class="card mt-4">
      <%= image_tag 'the-main.jpg', class: "img-fluid" %>
      <div class="card-body">
        <h5 class="card-title">人気投稿</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>

    <div class="card mt-4">
      <%= image_tag 'the-main.jpg', class: "img-fluid" %>
      <div class="card-body">
        <h5 class="card-title">人気投稿2</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <%# ここまで2 %>
    </div>
    <div id="news" class="tab-pane">
    <%# ここから3 %>
<%# ############################################################################## %>
    <%= link_to @news_output['articles'][0]['url'], target: "_blank" do %> 

    <div class="card mt-4">

      <% if @news_output['articles'][0]['urlToImage'].nil? %>
      <%= image_tag "no_image.png", class: 'img-fluid'%>
      <% else %>
      <%= image_tag @news_output['articles'][0]['urlToImage'], class: "img-fluid" %>
      <% end %>
      

      <div class="card-body">
      <small><%= @news_output['articles'][0]['publishedAt'] %></small>
        <h5 class="card-title"><%= @news_output['articles'][0]['title'] %></h5>
        <p class="card-text"><%= @news_output['articles'][0]['discription'] %></p>
      </div>

     </div>
<% end %>
   
 <%# ############################################################################## %>

     <%= link_to @news_output['articles'][1]['url'], target: "_blank" do %> 

    <div class="card mt-4">

      <% if @news_output['articles'][1]['urlToImage'].nil? %>
      <%= image_tag "no_image.png", class: 'img-fluid'%>
      <% else %>
      <%= image_tag @news_output['articles'][1]['urlToImage'], class: "img-fluid" %>
      <% end %>
      

      <div class="card-body">
        <h5 class="card-title"><%= @news_output['articles'][1]['title'] %></h5>
        <p class="card-text"><%= @news_output['articles'][1]['discription'] %></p>
      </div>

     </div>
<% end %>

   <%= link_to @news_output['articles'][2]['url'], target: "_blank" do %> 

    <div class="card mt-4">

      <% if @news_output['articles'][2]['urlToImage'].nil? %>
      <%= image_tag "no_image.png", class: 'img-fluid'%>
      <% else %>
      <%= image_tag @news_output['articles'][2]['urlToImage'], class: "img-fluid" %>
      <% end %>
      

      <div class="card-body">
        <h5 class="card-title"><%= @news_output['articles'][2]['title'] %></h5>
        <p class="card-text"><%= @news_output['articles'][2]['discription'] %></p>
      </div>

     </div>
<% end %>


    <%# ここまで3 %>
    </div>
  </div>
</main>
  <%# </div>col mt-4 %>

<%######################投稿カード#################### %>
  </div><%# col-md-8 %>

    <%############################右############################# %>
     <%######################サイドバー#################### %>
  

<div class="col-md-4">
 
  <ul class="list-group">
  <li class="list-group-item text-center"> <%= @news_output['articles'][0]['urlToImage'] %></li>
  <li class="list-group-item">Group of weather parameters (Rain, Snow, Extreme etc.)<%= @output['weather'][0]['main'] %> 
  | 
  <%= @output['weather'][0]['description'] %> </li>
  <li class="list-group-item">weathericon <%= @output['weather'][0]['icon'] %>https://openweathermap.org/weather-conditions とhttps://stackoverflow.com/questions/44177417/how-to-display-openweathermap-weather-icon/62369654#62369654</li>
  <li class="list-group-item">アーカイブ</li>
  </ul>
  </div> %

  <%######################サイドバー#################### %>

 </div><%# row %>
</div><%# container %>

<%# 33333333333333333333333333333333333投稿カード&サイドバー3333333333333333333333333333333333333333 %>



































   





