<div class="card" style="width: 50rem;">

  <%= link_to post_path(post), class: 'text-body' do %> 
  <% if post.image? %>
  <%= image_tag post.image.url, class: 'card-img-top' %>
  <% else %>
  <%= image_tag "the-main.jpg", class: 'card-img-top'%>
  <% end %>
  <% end %><%# link_to %>

  <div class="card-body">
   <%#タイトル %>
    <p class="card-text"><%= post.title %></p>
    <%# view, tag, covid %>
    <p class="card-text">
    <h4>
    <span class="badge badge-warning">
    <%= post.tag %></span><i class="fas fa-eye"><%= post.impressions_count %></i>
    </h4>
    <%= post.covid %>
    </p>
   <%# edit %>
   <p class="card-text"><%= link_to '編集する',edit_post_path(post) %></p>
    <%# delete %>
    <p class="card-text">
    <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    <%# if current_user?(post.user) %>
    <%= link_to "削除する", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <%# end %>
  　</span>
　　</p>

   </div><%#%# card-body %> 

</div><%# card %>








