<div class="card" style="width: 50rem;">

  <%= link_to post_path(post), class: 'text-body' do %> 

  <% if post.image? %>
  <%= image_tag post.image.url, class: 'card-img-top' %>
  <% else %>
  <%= image_tag "the-main.jpg", class: 'card-img-top'%>
  <% end %>

  <% end %><%# link_to %>

  <div class="card-body">
    <p class="card-text"><%= post.title %></p>
  </div>

  <div class="card-body">
    <p class="card-text"><%= post.tag %></p>
  </div>

  <div class="card-body">
    <p class="card-text"><%= link_to '編集する',edit_post_path(post) %></p>
  </div>

　<div class="card-body">
    <p class="card-text">
    <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    <% if current_user?(post.user) %>
    <%= link_to "削除する", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  　</span>
　　　 </p>
  </div>
  
　</div>








