<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.text_field :title, class: 'form-control form-control-lg mt-4', placeholder: "title" %>
    <div class="check_box">
    <span>関連するキーワード</span>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
     <div>
       <%= tag.label do %>
         <%= tag.check_box %>
         <%= tag.text %>
       <% end %>
     </div>
   <% end %>
 </div>

  <div class="field">
    <%= f.text_area :content, placeholder: "あなたのベルリンでの経験をシェアしよう。", class: "form-control mt-4", id: "exampleFormControlTextarea1" %>
  </div>

 <%# サムネイル %>
   <%= f.label :image, class: "mt-4" %> 
  <%= f.file_field :image, class: "form-control" %> 

  <%= f.submit "更新する", class: "btn btn-primary mt-4" %>

<% end %>