       <div class='text-center mt-2'>
       <h1>#<%= @tag_name.name %></h1>
       </div>
       
        <% if @posts.any? %>
    <% @posts.each do |p| %>

    <%= link_to post_path(p), class: 'text-body under' do %> 
    <div class="card mt-4">
    <%= image_tag p.image.url, class: "img-fluid" %>
     <% end %><%# posts#show %>
     <div class="card-body">
     <h5 class="card-title">
     <%# name, avatar  %>
     <span class="small">
     <%= link_to user_path(p.user), class: 'under' do %>
     <% if p.user.avatar? %>
     <%= image_tag p.user.avatar.url, class: "rounded-circle mb-3", width: "40px", height: "40px" %>
     <% else %>
     <%= image_tag "the-main.jpg", class: "rounded-circle", width: "40px", height: "40px" %>
     <% end %>
    <% end %>
    <%= p.user.name %>
    </span>
    <%# title  %>
    <h3><%= p.title %></h3> 
    <%# tag, description  %>
    <span><%= render_with_hashtags(p.content.truncate(85)) %><%= link_to '続きを読む', post_path(p) %></span> 
   </h5>   
    <p class="card-text">
        <%# likes %>
    <div class="post-like">
    <%= render 'shared/likes', post: p %> 
    </div>
    <%# impression %>
       <span>
       <i class="fas fa-eye"><%= p.impressions_count %></i>
      </span>
     <span>
      <%= time_ago_in_words(p.created_at) %> 前
      </span>
        </p>
      </div><%# card-body %>
    </div><%# card %>
     
    <% end %><%# each %>
  
     <% end %> <%# ifpostsany? %>