<% if @posts.any? %>

 <% @posts.each do |p| %>
 <%= link_to post_path(p), class: 'text-body' do %> 
   <div class="card mt-4">
      <%= image_tag p.image.url, class: 'img-fluid' %>
      <% end %><%# post_path_link %>
      <div class="card-body">
        <h5 class="card-title"><%= p.title %></h5>
        <p class="card-text">

        <span class="badge">
        <% p.tags.each do |tag| %>
       <i class="fas fa-tag"><%= tag.name %></i>
　　　　　<% end %>      
        </span>

        <span>
        <i class="fas fa-eye"><%= p.impressions_count %></i>
        </span>

        </p>
        
      </div>
    </div>
     
    <% end %><%# each %>
  <% end %> <%# ifpostsany? %>