<p class="mt-5">*この記事は、コロナ<%= @post.covid %>の内容です。</p>
<%= image_tag @post.image.url, class: 'img-fluid' %>
<div>
<h1><%= @post.title %></h1>
</div>
<i class="fas fa-eye"><%= @post.impressionist_count %></i>
<% @post.tags.each do |tag| %>
    <%= tag.name %>
<% end %>
<br>
<%# ###########いいね###################### %>
<%# favorites#createアクションにへ遷移した時に、いいねしたpostのidを取得する post_id → post.id %>
<%# if !条件式 は条件式が偽だった場合に処理 %>
<% if !@post.favorite_users.include?(current_user) %>
 <%= link_to favorites_path(post_id: @post.id), method: :post do %>
 <i class="far fa-thumbs-up"></i>
 <% end %>
 <% else %>
  <%= link_to favorites_path(post_id: @post.id), method: :delete do %>
 <i class="fas fa-thumbs-up"></i>
 <% end %>
<% end %>
<%= @post.favorite_users.count %>
<%# ###########いいね###################### %>
<h3>
<%= link_to user_path(@user) do %>
<%= @post.user.name %>
<% end %>
の投稿
</h3> 

<p>作成日<%= @post.created_at %></p>
<p>更新日<%= @post.updated_at %></p>


<br>


<span class="badge badge-warning"><%# @post.tag %></span>

<br>


<br>
<p><%= @post.content %></p>
<br>

<%= render_with_hashtags(@post.content) %>
<br>

<div class="mt-5">
  <h4>comments</h4>
  <%# ajax用のid設定 %>
   <div id="comments_area">
   <%# comments/_indexのviewを呼び出している。その部品内で@commentsが使われている(@comments: ログインしていない場合、コメントsを見れるだけだから。) %>
　　<%= render partial: 'comments/index', locals: { comments: @comments } %>
   </div> 
   <% if logged_in? %>
   <%# comments/_formのviewを呼び出している。その部品内で@comment,@postが使われている(@comment, @post: ログインしていれば、自分が@commentコメントできるから。@postを探して来た後で。) %>
   <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
   <% end %>
</div>





