<%= render 'edit_my_post' %>
<div class="card mb-3 mt-3">
<%# メイン画像 %>
<%= image_tag @post.image.url, class: "img-fluid" %>
<div class="card-body">
 <h2 class="card-title">
 <%# タイトル %>
 <strong><%= @post.title %></strong>
 </h2>
 <p class="card-text">
 <%# 投稿者のavatar,name %>
 <span>
   <%= link_to user_path(@user) do %>
   <%= image_tag @post.user.avatar.url, class: "rounded-circle ", width: "30px", height: "30px" %> <%= @post.user.name %>
   <% end %>の投稿
 </span>   
 <%# 投稿日 %>
 <p><%= time_ago_in_words(@post.created_at) %>前</p>
 <%# いいね&インプレッション %>
 <p>
 <i class="fas fa-eye"><%= @post.impressionist_count %></i>
 <%= render 'shared/likes', post: @post %> 
 </p>

 </p><%# card-text %>
 <%# コロナ %>
 <p>*この記事は、<%= @post.covid %>の内容です。</p>
 <%# コンテンツ内容 %>
 <p><%= render_with_hashtags(@post.content) %></p> 
 <%# コメント %>
 <%= render 'comment_for_post' %>
</div><%# card-body %>
</div><%# card　%>
 



