<h1>ここは、記事の詳細ページです。</h1>

<%= image_tag @post.image.url, class: 'img-fluid' %>
<br>
<%= @post.title %>
<br>
<%= @post.tag %>
<br>
<%= @post.content %>
<br>
<%# <p>Comments: <%= render @post.comments %>
<p>Comments: <%= @comments %></p>
<br>
<%= link_to "Add Comment", new_comment_path(post_id: @post.id) %>

<h3>次の記事へ</h3>
<h3>pagenate</h3>
<h3>返信機能</h3>