<%# <h1 >ここは、記事の詳細ページです。</h1> %>
<p class="mt-5">この記事は、<%= @post.covid %>の内容です。</p>
<br>
<%= @post.title %><br>
<span class="badge badge-warning"><%# @post.tag %></span>
<i class="fas fa-eye"><%= @post.impressionist_count %></i>
<br>
<%= image_tag @post.image.url, class: 'img-fluid' %>

<br>
<p><%= @post.content %></p>
<br>

<% @post.tags.each do |tag| %>
    <%= tag.name %>
<% end %>
<br>

<div class="mt-5">
  <h4>comments</h4>
  <%# ajax用のid設定 %>
   <div id="comments_area">
   <%# comments/_indexのviewを呼び出している。その部品内で@commentsが使われている(@comments: ログインしていない場合、コメントsを見れるだけだから。) %>
　　<%= render partial: 'comments/index', locals: { comments: @comments } %>
   </div> 
   <% if logged_in? %>
   <%# comments/_formのviewを呼び出している。その部品内で@comment,@postが使われている(@comment, @post: ログインしていれば、自分が@commentコメントできるから。@postを探して来た後で。) %>
   <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
   <% end %>
</div>





