<header>
<div class="nav-wrapper">
    <nav class="navbar navbar-light bg-transparent">
  <div class="container-fluid bg-transparent panel-transparent transparent">
  
<div class="dropdown">
  <button class="btn btn-transparent" type="button" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-bars text-warning"></i>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%= link_to 'トップページへ', root_path, class: "dropdown-item" %>
     <%= link_to 'About', about_path, class: "dropdown-item" %>
    <a class="dropdown-item" href="#">ベルリンなうについて</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>

</div>
 <ul class="nav justify-content-end">
  <%# <li class="nav-item">
  <a href="https://kaz34.github.io/about" target="_blank" class="nav-link active text-white">
  これを作った人
 </a>
 </li> %>
<% if logged_in? %>

 <li class="nav-item ml-1">
 <button type="button" class="btn btn-light p-0">
 <%= link_to current_user, class: "nav-link active text-black" do %>
 <i class="fas fa-user"></i>
 <% end %>
 </button>
 </li>

<li class="nav-item ml-1">
 <button type="button" class="btn btn-light p-0">
 <%= link_to logout_path, class: "nav-link active text-black", method: :delete do %>
 <i class="fas fa-sign-out-alt"></i>
 <% end %>
  </button>
 </li>


<li class="nav-item ml-1"> 
  <button type="button" class="btn btn-warning p-0"><%= link_to 'Post', new_post_path, class: "nav-link active text-white" %></button>
  </li>

 <% else %>


 <li class="nav-item">
 <%# link_to 'かんたんログイン', testsessions_path, method: :post, class: "btn btn-primary center-block" %>
 <%= link_to 'かんたんログイン', testsessions_path, method: :post, class: "btn btn-warning center-block text-white" %>
 </li>

 <li class="nav-item">
  <%= link_to 'ログイン', login_path, class: "nav-link active text-white" %>
  </li>


  <li class="nav-item">
  <%= link_to 'Signup', signup_path, class: "nav-link active text-white" %>
 </li>

  <% end %>

  </div><%#container-fluid %>
</nav>
</div><%# nav-wrapper %>
</header>
